# 数据导入与格式转换

In [21]:
import numpy as np
import pandas as pd

col_names = ['user', 'item', 'rate', 'timestamp']
df = pd.read_csv('./movielens/ml-1m/ratings.dat', sep = '::', header = None, names = col_names, engine = 'python')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 4 columns):
user         1000209 non-null int64
item         1000209 non-null int64
rate         1000209 non-null int64
timestamp    1000209 non-null int64
dtypes: int64(4)
memory usage: 30.5 MB

In [22]:
df.sort_values(by = ['user']).head()

    user  item  rate  timestamp
0      1  1193     5  978300760
29     1   745     3  978824268
30     1  2294     4  978824291
31     1  3186     4  978300019
32     1  1566     4  978824330

In [23]:
df.sort_values(by = ['item']).head()

        user  item  rate  timestamp
427702  2599     1     4  973796689
1966      18     1     4  978154768
683688  4089     1     5  965428947
596207  3626     1     4  966594018
465902  2873     1     5  972784317

In [24]:
df['user'] -= 1
df['item'] -= 1

In [25]:
df['rate'] = df['rate'].astype('float64')

# 定义随机生成batch

In [ ]:
class ShuffleDataIterator():
    def __init__(self, inputs, batch_size = 10):